/*header*/
header{
	display: flex;

}

.headline{
	font-size:20px;
	margin: 10px 0 10px 10px;
	
}

.logo{
	width: 100px;
    height: 100%;
	margin: 10px;
  }

  

.nav-list{
	list-style: none;
	padding: 10px;
	width: 100%;
	padding: 20px;
    text-align: right;
}

ul li{
	display: inline-block;
	padding: 5px;
}

ul{

}



/*body*/

body{
	background-color: black;
		margin: 10px;
	color:white;
}


	.main-item{
		padding: 100px 0 0 0;
	}


.box{
	background-color: white;
    width: 40%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
    margin-right: auto;
    height: 200px;
    margin-left: auto;
}

.text{
	padding: 5px;
	font-weight: 600;
	font-size: 15px;
	padding: 10px;
}

.box-text{

}

input{
	width: 32vw;
    height: 3vh;
	border-radius: 5px;
	border-width: 1px;
}

.box-text-item{

}

.favoritestyled{
    border-radius: 30px;
    background-color: #6633FF;
    width: 71px;
    width: 24%;
    color: white;
    margin: 4px;
    padding: 8px;
    font-size: 10px;
}
